:root{
--Bright-orange: hsl(31, 77%, 52%);
--Dark-cyan: hsl(184, 100%, 22%);
--Very-dark-cyan: hsl(179, 100%, 13%);
--white : hsla(0, 0%, 100%, 0.75);/*paragraph*/
--Very-light-gray : hsl(0, 0%, 95%);/*(background, headings, buttons)*/
}
/*font-family: 'Big Shoulders Display', cursive;
*/

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--Very-light-gray);
}

.container{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    display:grid;
    grid-template-columns: auto;
}
.card{
    padding: 50px;
}
img{
    margin-bottom: 30px;
}
h1{
    color: var(--Very-light-gray);
    margin-bottom: 30px;
    font-family: 'Big Shoulders Display', cursive;
}
.one{
    background-color: var(--Bright-orange);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.two{
    background-color: var(--Dark-cyan);
}
.third{
    background-color: var(--Very-dark-cyan);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

p{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    line-height: 1.7;
    color: var(--white);
    margin-bottom: 20px;
}
button{
    border-radius: 20px;
    color: var(--Bright-orange);
    background-color: var(--Very-light-gray);
    padding: 14px 30px;
    border: none;
}